# Ignore all .txt files
*.txt
!requirements.txt

# Ignore all images
*.jpg
*.png
*.webp

# Ignore .vscode folder
.vscode/

# Ignore old files
old_files/
# Ignore python chache files
__pycache__/
.venv/

# Ignore database
lyres.db

# Ignore environment variables
.env

# Ignore testing pull simulator
pull_simulator.py