# Ignore all .txt files
*.txt

# Ignore all images
*.jpg
*.png
*.webp

# Ignore .vscode folder
.vscode/

# Ignore old files
old-config.py
old-app.py

# Ignore python chache files
__pycache__/

# Ignore database
lyres.db
