# Ignore all .txt files
*.txt

# Ignore all images
*.jpg
*.png
*.webp

# Ignore .vscode folder
.vscode/

# Ignore old files
old_files/
# Ignore python chache files
__pycache__/

# Ignore database
lyres.db

# Ignore environment variables
.env
