/* This changes the width for all the offcanvas in the app */
.offcanvas{
     width: 20% !important;
} 

#menu-navs{
    text-align: center;
}


html,
body{
    height:100%;
}

#banner-list{
    padding: 100px 0px;
    width: 20% !important;
    height: 100%;
}

#banner-preview{
    background-color: aqua;
    height: 100%;
}

#banner-item{
    width: 90%;
    height: 0;
    padding-bottom: 50%;
    text-align: center;
    background-size: cover;  
}

.carousel-item{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pull-list{
    padding-left: 20%;
    width: 100%;
}

.pull-button{
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 2%;
    border-color: grey;
    border-width: 0.5em;
    width: 20%;
}

.cost-marker{
    width: 100%;
    background-color: whitesmoke;
    color: black;
    border-color: black !important;
}

.fox-coin{
    height: 1.5em;
    width: auto;
}

#user-currency{
    margin: 1%;
    width: auto;
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}

#pull-background{
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

#portrait-container{
    height: 100%;
    width: 100%;
    text-align: center;
}

#portrait-container img{
    display: block;
    margin: 0 auto;
    height: 100%;
}