/* This changes the width for all the offcanvas in the app */
.offcanvas{
     width: 20% !important;
} 

#menu-navs{
    text-align: center;
}


html,
body{
    height:100%;
}

#banner-list{
    padding: 100px 0px;
    width: 20% !important;
    height: 100%;
}

#banner-preview{
    background-color: aqua;
    height: 100%;
}

#banner-item{
    width: 90%;
    height: 0;
    padding-bottom: 50%;
    text-align: center;
    background-size: cover;  
}

.carousel-item{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}