{% extends "layout.html" %}

{% block title %}: Shrine{% endblock %} 

{% block body %}
    <div class="align-items-center d-flex flex-column position-absolute top-0 start-0" style="z-index: 1;" id="banner-list">
        <button class="badge" id="banner-item" name="banner-name" style="background-image: url(static/images/lyres/standard-banner-thumbnail.png)" value="Standard">
        </button>
    </div>
    
    <div id="banner-preview" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-touch="false" data-bs-pause="false" style="z-index: 0">
        <div class="carousel-inner" style="height: 100%">
          <div class="carousel-item active" style="background-image: url(static/images/lyres/1.jpg)">
          </div>
          <div class="carousel-item" style="background-image: url(static/images/lyres/2.jpg)">
          </div>
          <div class="carousel-item" style="background-image: url(static/images/lyres/3.jpg)">
          </div>
        </div>
      </div>

      <div class="align-items-center d-flex flex-fill justify-content-around position-absolute bottom-0" style="z-index: 1;" id="pull-list">
        <button type="submit" class="badge rounded-pill position-relative pull-button" id="pull1" name="pullNum">
          <h1 style="-webkit-text-stroke-width: 2px; -webkit-text-stroke-color: black;">1x Pull</h1>
          <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill">
            <div class="fs-4 position-relative py-2 px-4 border border-secondary rounded-pill cost-marker" style="margin-bottom: 60%;">
              <img src="static/images/fox-coin.png" class="fox-coin">
              160
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="position-absolute top-100 start-50 translate-middle mt-1" fill="var(--bs-light)" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
            </div>
          </span>
        </button>
        <button type="submit" class="badge rounded-pill position-relative pull-button" id="pull1" name="pullNum">
          <h1 style="-webkit-text-stroke-width: 2px; -webkit-text-stroke-color: black;">10x Pull</h1>
          <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill">
            <div class="fs-4 position-relative py-2 px-4 border border-secondary rounded-pill cost-marker" style="margin-bottom: 55%;">
              <img src="static/images/fox-coin.png" class="fox-coin">
              1600
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="position-absolute top-100 start-50 translate-middle mt-1" fill="var(--bs-light)" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
            </div>
          </span>
        </button>
      </div>

{% endblock %}