{% extends "layout.html" %}

{% block title %}: Shrine{% endblock %} 

{% block body %}
<div id="missions-background">
    <div id="missions-container" class="container pt-4">
        <div class="col-auto mb-3 d-flex flex-column align-items-center justify-content-start" style="height: 100%;">
            {% for mission in missions %}
            <div id="missions-item" class="card border-0 d-flex flex-row justify-content-between align-items-center" style="width: 80%; position: relative;" type="button">
                <div class="d-flex flex-row align-items-center justify-content-start flex-grow-1">
                    <div>{{ mission.description }}</div>
                    <div style="margin-left: 1%;">{{ mission.reward }}</div>
                    <div style="margin-left: 1%;">
                        <img src="static/images/ui/currencies/{{ mission.currency_id }}.png" class="fox-coin">
                    </div>
                </div>
                <form action="/missions" method="post">
                    <button type="submit" class="ml-auto btn btn-{% if mission.claimable == 1 %}primary"{% else %}secondary" disabled{% endif %} style="margin-left: 5%" name="mission_id" value={{ mission.id }}>Claim</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}