{% extends "layout.html" %}

{% block title %}: Shrine{% endblock %} 

{% block body %}
<div id="missions-background">
    <div id="missions-container" class="container pt-4">
        <div id="missions-row" class="col justify-content-around"></div>
        <div class="col-auto mb-3">
            <div id="missions-item" class="card border-0" style="width: 12rem; position: relative;" type="button">
              hello
              hello
            </div>
          </div>
    </div>
</div>

{% endblock %}