{% extends "layout.html" %}

{% block title %}: Shrine{% endblock %} 

{% block body %}
    <div class="position-relative carousel slide" id="pull-background" style="background-image: url(static/images/flowers.jpg)" data-bs-wrap="false">
        <div class="carousel-inner" style="height: 100%;">
            <div class="position-absolute carousel-item active" id="portrait-container">
                <img src="static/images/gate.png">
            </div>

            {% for unit in units %}
                <div class="position-absolute carousel-item" id="portrait-container">
                    <img src="static/images/lyres/portraits/{{ unit[0] }}.png">
                {% if units|length != 1 %}
                </div>
                {% endif %}
            {% endfor %}
            
            {% if units|length != 1 %}
                <div class="position-absolute carousel-item" id="portrait-container">
                    <div id="portraits-last">
                        {% for unit in units %}
                                <img src="static/images/lyres/portraits/{{ unit[0] }}.png">
                        {% endfor %}
                    </div>
            {% endif %}        
                    <form action="/pull" method="post">
                        <div class="align-items-center d-flex flex-fill justify-content-around position-absolute bottom-0" style="z-index: 1; padding-left: 0%;" id="pull-list">
                            <button class="badge rounded-pill position-relative pull-button" id="back-button">
                                <h1 style="-webkit-text-stroke-width: 2px; -webkit-text-stroke-color: black;">Back</h1>
                            </button>
                            <button type="submit" class="badge rounded-pill position-relative pull-button" id="pull1" name="pullNum" value="{{ pullNum }}">
                                <h1 style="-webkit-text-stroke-width: 2px; -webkit-text-stroke-color: black;">Pull Again</h1>
                            </button>
                            <input type="hidden" name="bannerID" value="{{ bannerID }}">
                        </div> 
                    </form>
                </div>
            
        </div>
        <button class="carousel-control-next" type="button" data-bs-target="#pull-background" data-bs-slide="next" style="width: 100%;" id="next-button"></button>
        {% if units|length != 1 %}
            <button id="skip-button" class="carousel-control-next position-absolute end-0 bottom-0 fs-1 opacity-100 bg-dark bg-opacity-75 rounded-pill" type="button" data-bs-target="#pull-background" data-bs-slide-to="{{ units|length + 1 }}" style="opacity: 90%; height: 10%; top: 90%">
                <span class="carousel-control-next-icon " aria-hidden="true"></span>
                <span class="carousel-control-next-icon " aria-hidden="true"></span>
                <span class="carousel-control-next-icon " aria-hidden="true"></span>
            </button>
        {% endif %}      
    </div>

    
    
   
    <script>
        // Prevent form resubmission
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    
        // Hide Next and Skip buttons when reaching the end
        document.getElementById("pull-background").addEventListener("slide.bs.carousel", (event) => {
            if (event.to == {{ units|length + 1 }} || {{ units|length }} == 1) {
                var skipButton = document.getElementById("skip-button");
                if (skipButton != null){
                    skipButton.style.display = "block";
                    skipButton.style.display = "none";
                }

                var nextButton = document.getElementById("next-button");
                nextButton.style.display = "block"; 
                nextButton.style.display = "none";
            }
        })

        // Back button
        document.getElementById("back-button").onclick = function () {
            location.href = "/"
        }

    </script>
    
    

{% endblock %}