{% extends "layout.html" %}

{% block title %}: Shrine{% endblock %} 

{% block body %}
    <div class="align-items-center d-flex flex-column position-absolute top-0 start-0" style="z-index: 1;" id="banner-list">
      {% for banner in banners %}
        <button class="badge" id="banner-item" style="background-image: url(static/images/shrine/icons/{{banner[0]}}.png)" value={{banner[0]}} onclick="changeBanner()">

        </button>
      {% endfor %}
    </div>
    
    <div id="banner-background" style="background-image: url(static/images/shrine/backgrounds/1.png)"></div>


      <div class="align-items-center d-flex flex-fill justify-content-around position-absolute bottom-0" style="z-index: 1;" id="pull-list">
        <form action="/pull" method="post">
          <div>  
            <input class="pull-button" type="image" src="static/images/shrine/icons/1pull.png">
            <input type="hidden" name="bannerID" value=1>
            <input type="hidden" name="pullNum" value="1">
          </div>
        </form>
        <form action="/pull" method="post">
          <div>  
            <input class="pull-button" type="image" src="static/images/shrine/icons/10pull.png">
            <input type="hidden" name="bannerID" value=1>
            <input type="hidden" name="pullNum" value="10">
          </div>
        </form>
      </div>

    <script>
      function changeBanner() {
        document.getElementById("banner-background").style.backgroundImage = "url(static/images/shrine/backgrounds/" + event.target.value + ".png)";
        bannerInputs = document.getElementsByName("bannerID")
        for(let bannerInput of bannerInputs){
          bannerInput.value = event.target.value;
        }
        var coins = document.getElementsByClassName("fox-coin");
        for(var i = 0; i < coins.length; i++) {
          if (event.target.value != 1) {
            coins[i].src = "static/images/ui/currencies/2.png"
          }
          else {
            coins[i].src = "static/images/ui/currencies/1.png"
          }
        }
      }
    </script>

{% endblock %}