{% extends "layout.html" %}

{% block title %}: Store{% endblock %} 

{% block body %}
<div id="store-background">
  <div id="store-container" class="container pt-4">
    <div id="store-row" class="row justify-content-around">
      {% for pid, prod in store_products.items() %}
      <div class="col-auto mb-3">
        <div class="store-item card border-0" style="width: 12rem; position: relative;" type="button">
          <img src="../static/images/store/{{ prod.currency_amount }}.png" data-bs-toggle="modal" data-bs-target="#purchasePopup" type="button" onclick="updatePopup('{{ pid }}', {{ prod.currency_amount }})">
        </div>
      </div>
      {% endfor %}

      <!-- Empty to fix layout -->
      <div class="col-auto mb-3">
        <div class="store-item card border-0" style="width: 24rem; position: relative;">
        </div>
      </div> 
      <div class="col-auto mb-3">
        <div class="store-item card border-0" style="width: 24rem; position: relative;">
        </div>
      </div> 
      <div class="col-auto mb-3">
        <div class="store-item card border-0" style="width: 24rem; position: relative;">
        </div>
      </div> 
      <div class="col-auto mb-3">
        <div class="store-item card border-0" style="width: 24rem; position: relative;">
        </div>
      </div> 
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="purchasePopup" tabindex="-1" aria-labelledby="modalLabelPopup" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popup-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="" style="width: 100%" id="purchase-popup-img">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <div id="paypal-button-container"></div>
        <p id="result-message"></p>
      </div>
    </div>
  </div>
</div>
<!-- Initialize the JS-SDK -->
<script
  src="https://www.paypal.com/sdk/js?client-id={{ paypal_client_id }}&buyer-country=GB&currency=GBP&components=buttons&disable-funding=venmo,paylater,card"
  data-sdk-integration-source="developer-studio">
</script>

<script src="../static/scripts/paypal.js"></script>

<script>
  var PRODUCT_ID = "";

  function updatePopup(productId, amount){
    PRODUCT_ID = productId;
    document.getElementById("purchase-popup-img").src = "../static/images/store/" + amount + ".png";
    document.getElementById("popup-title").innerText = "Purchase " + amount + " Gold Fox Coins";
  }
</script>

{% endblock %}
